<style>
    .link-item a {
        color:#c4c4c4 !important;
        font-size: 1em;
        line-height: 30px;
    }
</style>
<footer class="bg-dark p-5" style="min-height: 300px;">
    <div class="row">
        <div class="col-md-3">
            <h5 class="text-white">CUSTOMER SERVICE</h5>
            <div class="link-item">
                <a href="/about_us.html" class="link-white text-muted">About Us</a>
            </div>
            <div class="link-item">
                <a href="/qa.html" class="link-white">Frequently Asked Questions</a>
            </div>
            <div class="link-item">
                <a href="/blog.html" class="link-white">Blog</a>
            </div>
            <div class="link-item">
                <a href="/security_and_privacy.html" class="link-white">Security & Privacy</a>
            </div>
            <div class="link-item">
                <a href="/returns_and_refunds.html" class="link-white">Returns & Refunds</a>
            </div>
            <div class="link-item">
                <a href="/join_the_newsletter.html" class="link-white">Join the Newsletter</a>
            </div>
            <div class="link-item">
                <a href="/terms_and_conditions.html" class="link-white">Terms & Conditions</a>
            </div>
            <div class="link-item">
                <a href="/delivery_and_payment.html" class="link-white">Delivery & Payment </a>
            </div>
            <div class="link-item">
                <a href="/contact_us.html" class="link-white">Contact Us</a>
            </div>
        </div>
        <div class="col-md-3">
            <h5 class="text-white">MON CHERI GIFTS FOR HER</h5>
            <div class="link-item">
                <a href="" class="link-white text-muted">Fashion</a>
            </div>
            <div class="link-item">
                <a href="" class="link-white text-muted">Beauty</a>
            </div>
        </div>
        <div class="col-md-3">
            <h5 class="text-white">MON CHERI GIFTS FOR HIM</h5>
            <div class="link-item">
                <a href="" class="link-white text-muted">Fashion</a>
            </div>
            <div class="link-item">
                <a href="" class="link-white text-muted">Beauty</a>
            </div>
        </div>
        <div class="col-md-3">
            <h5 class="text-white">MON CHERI GIFTS FOR US</h5>
            <div class="link-item">
                <a href="" class="link-white text-muted">Matching Sets</a>
            </div>
            <div class="link-item">
                <a href="" class="link-white text-muted">Gourmet Hampers</a>
            </div>
            <div class="link-item">
                <a href="" class="link-white text-muted">Hotel Packages</a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <h5 class="text-white">E-BOOKS / LINKS</h5>
        </div>
        <div class="col-md-4">
            <h5 class="text-white">CONTACT US</h5>
        </div>
    </div>
</footer>